<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ contact.name }}</h3>
        <div class="row">
          <div class="col-xs-12 space-between">
            <img [src]="contact.imageUrl" [alt]="contact.name" />
            <div class="btn-toolbar">
              <a routerLink="edit" class="btn btn-primary">Edit</a>
              <a (click)="onDelete()" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p><strong>Email:</strong> {{ contact.email }}</p>
        <p><strong>Phone:</strong> {{ contact.phone }}</p>
      </div>
    </div>
  </div>
</div>
